* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}

.hotel {
  color: rgb(101, 207, 240);
  background-color: rgb(8, 41, 41);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 2px solid rgb(216, 216, 216);
  box-shadow: 0 0 5px 5px;
  transition: all 0.5s linear;
}

.hotel:hover {
  box-shadow: 0 0 10px 20px;
  transition: all 1s linear;
  /* border:5px solid rgb(255, 255, 255); */
}
.hotelId {
  padding: 10px;
}

.hotel .hotelId p {
  color: #fff;
  text-decoration: dotted;
  font-size: 25px;
  font-style: italic;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.hotel .hotelId .Btn {
  color: rgb(255, 255, 255);
  background-color: rgb(101, 207, 240);
  height: 50px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition:all 0.5s linear;
}
.hotel .hotelId .Btn:hover{
  color: rgb(101, 207, 240);
  background-color: rgb(255, 255, 255);
  /* font-size: 20px; */
  font-weight: bold;
  transition:all 0.5s linear;
}

.hotel .hotelId .booked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel .hotelId #booking{
  border-radius:5px;
  outline:none;
  border:none;
  height:35px;
  width:80px;
  text-align: center;
  font-size: 25px;
  color:rgb(101, 207, 240);
}
